<tr>
    <td>{{@task.id}}</td>
    <td>{{@task.name}}</td>
    <td>{{@task.dueDate}}</td>
    <td>{{@task.priority}}</td>
    <td>{{@task.completed}}</td>
    <td>{{@task.description}}</td>
    <td>
        <LinkTo @route='task.edit-task' @model={{@task}} class='button'>Edit</LinkTo>
        <button {{on 'click' this.completeTask}} style="padding: 0 5px;">Complete</button>
        <button type="button" {{on 'click' this.deleteTask}}>Del</button>
    </td>
</tr>
