<tr>
    <td>{{@task.id}}</td>
    <td>{{@task.name}}</td>
    <td>{{@task.dueDate}}</td>
    <td>{{@task.priority}}</td>
    <td>{{@task.completed}}</td>
    <td>{{@task.description}}</td>
    <td>
        <button type="button">Delete</button>
        <LinkTo @route='task.edit-task' @model={{@task}} class='button'>Edit</LinkTo>
    </td>
</tr>
